.form
{

	margin-top: 8%;
}

.addBtn
{
	width: 43%;
}
.btn-info
{
	width: 62%;

	margin-bottom: 2%;
}
.glyphicon
{
	padding-left:6%;
	float: right;
	padding-bottom: 2%;
	cursor: pointer;
}
.plus
{
	float: left;

}
.addcar
{
	cursor: pointer;
	margin-right: 81%;
}
.edit
{
	margin-bottom: 4%;
	margin-top: 1%;
}
.abonnement_dialog .form
{
	margin-left: -132%;
	margin-right: -116%;

}
#client_info
{
	width: 50%;
	margin-left: 22%;
	margin-top: -11%;
}
.buttons
{
	float: right;
	margin-top: -35%;
	margin-left: 74%;
}
#client_info td
{
	padding: 2%;
	width: 4%;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: lightgrey;
	border-color: #ddd;
	font-family: cursive;
}
.body
{
	margin-left: 22%;
	margin-right: 22%;

}
.panel-default {
	margin-top: 2%;
}
.add_dialog
 {
	 padding-left: 9%;
	 padding-right: 9%;
	 border: none;
	 box-shadow:20px 20px 50px 15px grey
 }
.edit_dialog
{
	padding-left: 9%;
	padding-right: 9%;
	border: none;
	box-shadow:20px 20px 50px 15px grey
}
.car_dialog .form
{
	margin-left: -43%;
	margin-right: -38%;
}