<<<<<<< HEAD
.form 
{
	
    margin-top: 8%;
=======
.form
{

	margin-top: 8%;
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
}

.addBtn
{
	width: 43%;
}
<<<<<<< HEAD
tbody tr:hover
{
	background-color: lightgrey;
}
=======
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
.btn-info
{
	width: 62%;

<<<<<<< HEAD
	    margin-bottom: 2%;
}
.glyphicon
{
	 padding-left:6%;
	 float: right;
	 padding-bottom: 2%;
	 cursor: pointer;
=======
	margin-bottom: 2%;
}
.glyphicon
{
	padding-left:6%;
	float: right;
	padding-bottom: 2%;
	cursor: pointer;
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
}
.plus
{
	float: left;

}
.addcar
{
	cursor: pointer;
<<<<<<< HEAD
margin-right: 81%;
}
.edit
{
	  margin-bottom: 4%;
    margin-top: 1%;
}
.abonnement_dialog .form
{
margin-left: -132%;
    margin-right: -116%;
=======
	margin-right: 81%;
}
.edit
{
	margin-bottom: 4%;
	margin-top: 1%;
}
.abonnement_dialog .form
{
	margin-left: -132%;
	margin-right: -116%;
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151

}
#client_info
{
	width: 50%;
<<<<<<< HEAD
	    margin-left: 22%;
    margin-top: -11%;
}
.buttons
{
	    float: right;
   	 margin-top: -35%;
        margin-left: 74%;
=======
	margin-left: 22%;
	margin-top: -11%;
}
.buttons
{
	float: right;
	margin-top: -35%;
	margin-left: 74%;
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
}
#client_info td
{
	padding: 2%;
<<<<<<< HEAD
	    width: 4%;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: lightgrey;
    border-color: #ddd;
    font-family: cursive;
}
.body
{
	    margin-left: 22%;
    margin-right: 22%;
=======
	width: 4%;
}
.panel-default{
	height:50px;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: lightgrey;
	border-color: #ddd;
	font-family: cursive;
}
.body
{
	margin-left: 22%;
	margin-right: 22%;
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151

}
.panel-default {
	margin-top: 2%;
}
.add_dialog
{
<<<<<<< HEAD
	    padding-left: 9%;
	     padding-right: 9%;
	         border: none;
	          box-shadow:20px 20px 50px 15px grey
}
.edit_dialog
{
=======
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
	padding-left: 9%;
	padding-right: 9%;
	border: none;
	box-shadow:20px 20px 50px 15px grey
}
.car_dialog .form
{
<<<<<<< HEAD
    margin-left: -43%;
    margin-right: -38%;
}
=======
	margin-left: -43%;
	margin-right: -38%;
}
>>>>>>> e23e9c68edddd69307e71e533ac972d9006e7151
